* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Sezione dei tag */

body {
    font-family: 'Open Sans', sans-serif;
}


/* Sezione delle classi */

.navbar {
    background-color: white;
    position: fixed;
    height: 65px;
    width: 100%;
    z-index: 10;
}

.navbar1 {
    vertical-align: middle;
    display: inline-block;
    width: 49%;
}

.nav-img {
    padding: 20px;
    display: inline-block;
}

.navbar1 ul {
    display: inline-block;
}

.navbar1 li {
    list-style: none;
    float: left;
}

.navbar1 li a {
    text-decoration: none;
    color: black;
    margin: 0 20px;
}

.navbar2 {
    vertical-align: middle;
    display: inline-block;
    text-align: right;
    width: 50%;
}

.navbar2 ul {
    display: inline-block;
}

.navbar2 ul li {
    list-style: none;
    display: inline-block;
}

.navbar2 li a {
    text-decoration: none;
    color:black;
    margin: 0 20px;
}

.header {
    background-color: #B4D0E7;
    height: 700px;
}

.container-header {
    transform: translate(150px, 150px);
    width: 80%;
}

.h1-header h1 {
    font-size: 60px;
    display: inline-block;
}

.img-header {
    width: 65%;
    float: right;
}

.img-header img{
    width: 100%;
    display: inline-block;
    padding: 25px 0;
}

.text-header {
    display: inline-block;
    width: 30%;
    padding: 25px 0;
}

.text-header a {
    display: inline-block;
    width: 60%;
    margin-top: 15px;
    text-decoration: none;
    font-size: 14px;
}

.text-header i {
    font-size: 30px;
    padding-top: 30px;
}

.offers {
    width: 65%;
    margin: 0 auto;
    padding-top: 120px;
}

.offers h2 {
    font-size: 35px;
    font-weight: bolder;
}

.box-radio {
    padding-top: 40px;
    margin-bottom: 25px;
}

.box-radio .second-radio {
    margin-left: 25px;
}

.type-box1 {
    border: 1px solid #637381;
    display: inline-block;
    padding: 10px 0;
    width: 30%;
}

.type-box1 i {
    padding-right: 5px;
}

.type p {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #637381;
}

.type1-title {
    padding: 25px;
}

.type1-title p {
    margin-top: 16px;
    font-weight: bold;
}

.type1-title .grey {
    margin-top: 8px;
}

.type1-offers {
    padding: 25px;
}

.type1-offers p {
    margin-bottom: 18px;
    font-size: 12px;
}

.type1-offers i {
    padding-right: 5px;
}

.type1-button {
    padding: 0 25px;
}

.type1-button p {
    font-size: 12px;
}

.type1-button p a {
    font-size: 12px;
    margin-bottom: 18px;
}

.type1-button :nth-child(1) {
    text-decoration: none;
    text-align: center;
    margin-bottom: 30px;
}

/* Sezione delle utilities */

.btn-normal {
    color: white;
    background-color:#0061FF;
    padding: 5px 20px;
    font-size: 14px;
}

.nav-padding {
    padding: 20px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.grey {
    color: #637381;
}

.col-1_9 {
    width: calc(100% / 9);
}

.col-2_9 {
    width: calc(100% / 9 * 2);
}

.col-3_9 {
    width: calc(100% / 9 * 3);
}